header {
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.navbar {
    width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar__logo {
    width: 55px;
    height: 40px;
}

.navbar__left, .navbar__center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar__center {
    margin-left: 48px;
    height: 40px;
}

.btnSearch {
    height: 40px;
    width: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
    cursor: pointer;
    font-size: 20px;
}

.btnCart {
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
    cursor: pointer;
    font-size: 18px;
}

.Menu {
    display: flex;
}

.Menu .Menu-item {
    margin-right: 16px;
    line-height: 40px;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 4px solid #ffffff;
}

.Menu .Menu-item:first-child {
    border-bottom: 4px solid #ccc;
}

.Menu .Menu-item:focus {
    border-bottom: 4px solid #ccc;
}

.Menu .Menu-item:hover {
    border-bottom: 4px solid #ccc;
}

.titleCart {
    font-size: 18px;
    font-weight: 600;
}

.CartIcon {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navbar__right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Account {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 18px;
}

header .logo {
    width: 100%;
    height: 100%;
}

/* Scroll header */
.ScrollTop::before {
    content: "";
    display: block;
    height: 56px;
    width: 100%;
}