    .pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.page-item {
    height: 30px;
    width: 30px;
    margin: 0 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4px;
    border-radius: 50%;
    border: 1px solid #ccc;
    cursor: pointer;
}