.totalBoxPay {
    position: fixed;
    bottom: 0;
    width: 400px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: #ffffff;
    border-radius: 10px;
}

.header-boxpay {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.btnGroup-boxPay {
    display: flex;
    flex-direction: column;
}

.btn_go-next {
    margin: 8px 0;
}

.btnGroup-boxPay button {
    height: 35px;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    background-color: #e93939;
    cursor: pointer;
    border: 0;
}

.btnGroup-boxPay button:hover {
    background-color: #bf1111;
}