.category-header {
    font-size: 18px;
}

.Container-Product {
    display: flex;
    margin-top: 16px;
}

.col-LeftProduct {
    width: 300px;
}

.col-RightProduct {
    display: flex;
    flex-direction: column;
    padding: 8px;
    width: calc(100% - 300px);
    border-radius: 8px;
    border: 2px solid #ccc;
}

.BlockProduct {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.itemProduct { 
    width: 285px;
    margin: 4px;
    height: 400px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemProduct__image {
    width: 100%;
}

.itemProduct__image img{
    padding-right: 2px;
    width: 285px;
    height: 320px;
    border-radius: 12px;
}