.itemBanner {
    width: 800px;
    height: 400px;
    border-radius: 14px;
    border: 2px solid #ccc;
}

.Banner {
    width: 100%;
    height: 400px;
}

.BlockBanner {
    display: flex;
}

.BlockLeft {
    margin-right: 8px;
}

.itemBanner__right {
    width: 100%;
    height: 200px;
    border-radius: 14px;
    border: 2px solid #ccc;
}